{{> menu id="dashboard"}}

<section class="ui segment">
    {{> analytics-divider}}
    {{> analytics}}
    <br>
    {{>assessment-divider}}
    {{> addassessment }}
    {{> assessment-table }}


</section>